.simple-steps{
    text-align: center;
}

.fund{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    margin: 50px;
    padding: 25px;
}

.color{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color:  rgb(20, 156, 201);;
    margin: 10px;
}

.ptag{
    font-size: 20px;
    padding: 0 0 20px 0;
}

.down-part{
    font-size: 14px;
    font-weight:40;
}